<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to SilphSPA</h1>
					</header>

					

					<footer>
						<a href="/login" class="button">Area Admin</a>
						&nbsp
						<a href="/fotografi" class="button">I nostri fotografi</a>
						&nbsp
						<a href="/photos" class="button">Tutte le nostre foto</a>
						
					</footer>
				</div>
			</section>
</body>
</html>